body {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.paragraph-title {
    background-color: orange;
    clear: both;
    border-radius: 10px;
    padding-left: 1em;
}

header{
    display: flex;
    /*border-style: solid;*/
    width: 100%;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

#photo {
    /*display: block*/;
    max-height: 18em;
    max-width: 15em;
    width: auto;
    height: auto;
    margin: 1em;
}

.photo {
    align-self: flex-end;
}

.legend {
    font-size: 11px;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
}

@media only screen and (max-width: 640px) {
  header {
      flex-direction: column;
      align-items: center;
  }
  .photo {
      align-self: auto;
  }
}
